# ─── LOCAL (docker-compose) ───────────────────────────────────────────────────
# DATABASE_URL=postgresql://jero:123@localhost:5433/geography_db

# ─── DEVELOP / TEST (Neon) ────────────────────────────────────────────────────
# DATABASE_URL=postgresql://neondb_owner:npg_Fbusz3x7vSWY@ep-cool-lab-ait9eawb-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ─── PRODUCTION (Neon) ────────────────────────────────────────────────────────
# DATABASE_URL=postgresql://neondb_owner:npg_bFYDynow1IU2@ep-noisy-base-aiqfltq0-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


DATABASE_URL=postgresql://user:password@localhost:5432/dbname
NODE_ENV=development
PORT=3000
